.app {
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  h1 {
    text-align: center;
  }
}

div.columns {
  display: flex;
  flex: 1;
  flex-flow: row nowrap;
  justify-content: space-between;
  div {
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
    justify-content: space-around;
    margin-left: 0.5em;
    margin-right: 0.5em;
    > div.actions {
      display: flex;
      flex: 0;
      flex-flow: row;
      justify-content: flex-end;
      font-size: 16pt;
    }
  }
}

textarea {
  flex: 1;
  min-height: 10em;
}
