<div class="app">
  <h1> RxSocket Demo App </h1>
  <div class="columns">
    <div>
      <h2>Outgoing messages</h2>
      <p> Input a message into the below text box and click "Send". </p>
      <textarea #messageInput></textarea>
      <div class="actions">
        <input type="button" value="Send" (click)="send(messageInput.value)"/>
      </div>
    </div>

    <div>
      <h2> Incoming Messages </h2>
      <p>
        <strong> Last message received: </strong>
      </p>
      <blockquote *ngIf="(latestMessage$ | async) !== null">
        {{ latestMessage$ | async }}
      </blockquote>
      <blockquote *ngIf="(latestMessage$ | async) === null">
        (no messages received yet)
      </blockquote>

      <hr />
      <p>
        <strong> Message Log: </strong>
      </p>

      <blockquote *ngFor="let payload of (payloads$ | async)">
        <em>{{payload.date | date:'mediumTime'}}</em>
        {{payload.message}}
      </blockquote>
    </div>

  </div>
</div>
